In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt 
import seaborn as sbn
from IPython.core.display import HTML
sbn.set_style('darkgrid')
%matplotlib inline

In [8]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}

In [50]:
map_df = pd.read_csv('ACS_12_5YR_B01003_with_ann.csv', dtype=str)

In [176]:
print map_df.shape
map_df.head()

(3143, 5)

,Id,Id2,Geography,Estimate; Total,Margin of Error; Total
0,0500000US01001,01001,"Autauga County, Alabama",54590,*****
1,0500000US01003,01003,"Baldwin County, Alabama",183226,*****
2,0500000US01005,01005,"Barbour County, Alabama",27469,*****
3,0500000US01007,01007,"Bibb County, Alabama",22769,*****
4,0500000US01009,01009,"Blount County, Alabama",57466,*****

In [177]:
ZHVI_df = pd.read_csv('County_Zhvi_AllHomes.csv')
print ZHVI_df.shape

(1109, 242)

In [19]:
ZHVI_df = ZHVI_df.replace({"State": states})
ZHVI_df.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1996-04,1996-05,1996-06,...,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10
0,3101,Los Angeles,California,"Los Angeles-Long Beach-Anaheim, CA",6,37,1,161800,161700,161200,...,484800,487400,490600,493400,495400,498000,501000,504100,506800,509000
1,139,Cook,Illinois,Chicago,17,31,2,126400,126700,126500,...,186100,185600,185300,186000,188000,190200,191800,192700,193600,194500
2,1090,Harris,Texas,Houston,48,201,3,72600,72600,72500,...,145700,146400,148000,150200,151600,152300,153200,154100,154600,154900
3,2402,Maricopa,Arizona,Phoenix,4,13,4,106800,106900,107200,...,207300,208200,209000,209600,210800,212200,213400,214800,217000,219100
4,2841,San Diego,California,San Diego,6,73,5,164100,163900,163600,...,471700,475000,477900,479500,480900,482300,484200,486300,489100,491700

In [129]:
counties = ZHVI_df["RegionName"] + " County, " + ZHVI_df["State"]
ZHVI_df_converted = pd.concat([pd.Series(counties, name="Geography"), ZHVI_df], axis=1)

In [131]:
ZHVI_df_converted.head()

,Geography,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,1996-04,1996-05,...,2015-01,2015-02,2015-03,2015-04,2015-05,2015-06,2015-07,2015-08,2015-09,2015-10
0,"Los Angeles County, California",3101,Los Angeles,California,"Los Angeles-Long Beach-Anaheim, CA",6,37,1,161800,161700,...,484800,487400,490600,493400,495400,498000,501000,504100,506800,509000
1,"Cook County, Illinois",139,Cook,Illinois,Chicago,17,31,2,126400,126700,...,186100,185600,185300,186000,188000,190200,191800,192700,193600,194500
2,"Harris County, Texas",1090,Harris,Texas,Houston,48,201,3,72600,72600,...,145700,146400,148000,150200,151600,152300,153200,154100,154600,154900
3,"Maricopa County, Arizona",2402,Maricopa,Arizona,Phoenix,4,13,4,106800,106900,...,207300,208200,209000,209600,210800,212200,213400,214800,217000,219100
4,"San Diego County, California",2841,San Diego,California,San Diego,6,73,5,164100,163900,...,471700,475000,477900,479500,480900,482300,484200,486300,489100,491700

In [181]:
merge_df = pd.merge(map_df, ZHVI_df_converted, on='Geography', how='left')

In [182]:
merge_df = merge_df.fillna(0)

In [207]:
ZHVI_df_new = merge_df.loc[:,"1996-04":"2015-10"]

In [184]:
names = []
for i in range(1996,2016):
    for j in ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]:
        names.append(j+str(i))

In [185]:
names = names[3:238]

In [192]:
#ZHVI_df_new.columns = names
ZHVI_df_new.columns = ["aaa", "bbbb", "cccc"]

In [208]:
dict_c = []

for i in range(len(ZHVI_df_new)):
#    dict_c.append(ZHVI_df_new.iloc[i].to_dict())
    dict_c.append(list(ZHVI_df_new.iloc[i]))

In [209]:
result = pd.concat([merge_df[["Geography", "Id", "Id2", "Margin of Error; Total"]], pd.Series(dict_c, name="HZVI")], axis=1)

In [220]:
df = pd.Series(names)
df.to_csv("datas.csv", index=False)

In [221]:
len(names)

235

In [210]:
result.head()

,Geography,Id,Id2,Margin of Error; Total,HZVI
0,"Autauga County, Alabama",0500000US01001,01001,*****,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,"Baldwin County, Alabama",0500000US01003,01003,*****,"[107500.0, 108000.0, 108900.0, 109300.0, 10990..."
2,"Barbour County, Alabama",0500000US01005,01005,*****,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,"Bibb County, Alabama",0500000US01007,01007,*****,"[70300.0, 70300.0, 71400.0, 73600.0, 75500.0, ..."
4,"Blount County, Alabama",0500000US01009,01009,*****,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [198]:
output[["Id", "Id2", "Geography", "HZVI", "Margin of Error; Total"]] = merge_df[["Id", "Id2", "Geography", "2015-10", "Margin of Error; Total"]]

In [211]:
output = result[["Id", "Id2", "Geography", "HZVI", "Margin of Error; Total"]]

In [212]:
output.to_csv("HZVI_counties_data.csv", index=False)

In [69]:
output[output["Geography"] == "Kings County, New York"]["HZVI"]

6    {u'2003-12': 393300.0, u'2003-10': 0.0, u'2003...
Name: HZVI, dtype: object

In [77]:
output["HZVI"] = output["HZVI"].astype(dict)

TypeError: data type not understood

In [76]:
output.dtypes

Id                        object
Id2                       object
Geography                 object
HZVI                      object
Margin of Error; Total    object
dtype: object

In [214]:
dict(names)

TypeError: 'list' object is not callable